.charter p, h1, button{
    color: #02182b;
}

.charter button{
    margin-right: 50px;
    margin-left: auto;
}
.title h1{
  margin: 0;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #bee9e8;
}
.ownership p{
  color:#02182b;
  font-size: 24px;
  font-weight: 400;
  
}
.ownership h3{
  font-size: 32px;
}
.ownership.blockquote{
  display: block;
  font-size: 24px;
}