.charter p, h1{
    color: #02182b;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}


.title h1{
  margin: 0;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #bee9e8;
}
.ownership p{
  color:#02182b;
  font-size: 24px;
  font-weight: 400;
  
}
.ownership h3{
  font-size: 32px;
}
.ownership.blockquote{
  display: block;
  font-size: 24px;
}

.yacht-single.slider img{
  position: inherit;
  padding-left: 40px;
  width: 100%;
  height: 560px;
  object-fit: cover;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 40px;
}
.simbol img{
  
  margin: 5px 0px 0px 90px;

}
.simbol p{
  margin: 0px 20px 10px 10px;
  font-weight: 700;
  padding-top: 10px;
}
.yacht-single .slick-dots{
  bottom: -45px;
}
img{
  border: 1px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.yacht-single p{
  font-size: 20px;
}
.yacht-single button{
  background-color:#02182b;
  color: #fff;
  padding: 0px 20px;
  margin: 20px 0 40px 20px;
  border: none;
  cursor: pointer;
  max-width: fit-content;
  text-align: center;
  opacity: 0.9;
}

.yacht-single td{
  font-size: 18px;
}
.yacht-single .post-content table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;  /* Ensures equal column width */
}

.yacht-single .post-content th, 
.yacht-single .post-content td {
  width: auto;  /* Distributes space equally */
  text-align: center;
}


.schools img{
  position: inherit;
  max-width: 100%;
  height: auto;
  object-fit: cover;
   
}
.schools p{
  font-size: 24px;
}
.schools ul li{
  list-style-type: circle;

}
.schools ul li{
  font-size: 24px;
  color:#fff
}

.schools td{
  font-size: 18px;
}
.schools th:nth-child(1), td:nth-child(1) {
  width: 30%;
}
.schools th:nth-child(2), td:nth-child(2) {
  width: 50%;
}
.schools th:nth-child(3), td:nth-child(3) {
  width: 20%;
}
